%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu{ 'data-widget': 'tree' }
      %li{ class: active_class(admin_admins_path) }
        %a{ href: admin_admins_path }
          %i.fa.fa-link
          %span #{Admin.model_name.human}管理
      %li{ class: active_class(admin_users_path) }
        %a{ href: admin_users_path }
          %i.fa.fa-link
          %span #{User.model_name.human}管理
